{
    "debug": "INFO",
    "base_dir": "/usr/local/samm",
    "config_dir": "etc",
    "sock_file": "/tmp/samm.sock",
    "resource_file": "resources.json",
    "object_files":[
        "objects/checks-citrix.json",
        "objects/checks-generic.json",
        "objects/checks-netscaler.json",
        "objects/checks-windows.json",
        "objects/commands.json",
        "objects/instance-templates.json",
        "objects/discovery.json"
    ],
    "webserver": true,
    "webserver_port": 5000,
    "wait_on_error": 60,
    "tags": {
        "job": "samm"
    },
    "service_tags": {
        "instance": "samm"
    },
    "poll_time": 5,
    "stale_timeout": 600
}
