{
    "debug": 2,
    "base_dir": "<abs path to samm>",
    "config_dir": "etc",
    "sock_file": "/tmp/samm.sock",
    "resource_file": "resources.json",
    "object_files":[ "objects/objects1.json", "objects/objects2.json" ],
    "webserver": true,
    "webserver_port": 5000,
    "wait_on_error": 60,
    "tags": {
        "job": "samm"
    },
    "service_tags": {
        "instance": "samm",
    },
    "poll_time": 5,
    "stale_timeout": 600
}
