[
	{
		"object_type": "check",
		"name": "cim_computer",
		"command": "wmi",
		"class_name": "Win32_ComputerSystem",
		"alias": "computer",
		"check_interval": 300,
		"stale_timeout": 900,
		"tag_properties": [
			"BootupState",
			"DNSHostName",
			"Domain",
			"Workgroup"
		],
		"metrics": [
			"NumberOfProcessors",
			"NumberOfLogicalProcessors"
		],
		"register": true
	},
	{
		"object_type": "check",
		"name": "cim_os",
		"command": "wmi",
		"class_name": "Win32_OperatingSystem",
		"alias": "os",
		"check_interval": 300,
		"stale_timeout": 900,
		"tag_properties": [
			"Caption",
			"OSArchitecture",
			"Status"
		],
		"metrics": [
			"FreePhysicalMemory",
			"FreeSpaceInPagingFiles",
			"FreeVirtualMemory",
			"LastBootUpTime",
			"MaxNumberOfProcesses",
			"MaxProcessMemorySize",
			"NumberOfLicensedUsers",
			"NumberOfProcesses",
			"NumberOfUsers",
			"TotalVirtualMemorySize",
			"TotalVisibleMemorySize"
		],
		"register": true
	},
	{
		"object_type": "check",
		"name": "cim_disk",
		"command": "wmi",
		"class_name": "Win32_LogicalDisk",
		"alias": "disk",
		"tag_properties": [
			"Caption"
		],
		"check_interval": 300,
		"stale_timeout": 900,
		"metrics": [
			"FreeSpace",
			"Size"
		],
		"register": true
	},
	{
		"object_type": "check",
		"name": "cim_perfcpu",
		"command": "wmi",
		"class_name": "Win32_PerfRawData_PerfOS_Processor",
		"alias": "perfcpu",
		"tag_properties": [
			"Name"
		],
		"check_interval": 60,
		"stale_timeout": 180,
		"metrics": [
			"C1TransitionsPersec",
			"C2TransitionsPersec",
			"C3TransitionsPersec",
			"DPCRate",
			"DPCsQueuedPersec",
			"InterruptsPersec",
			"PercentC1Time",
			"PercentC2Time",
			"PercentC3Time",
			"PercentDPCTime",
			"PercentIdleTime",
			"PercentInterruptTime",
			"PercentPrivilegedTime",
			"PercentProcessorTime",
			"PercentUserTime",
			"Timestamp_PerfTime",
			"Timestamp_Sys100NS",
			"Timestamp_Object"
		],
		"register": true
	},
	{
		"object_type": "check",
		"name": "cim_cpu",
		"command": "wmi",
		"class_name": "Win32_PerfFormattedData_PerfOS_Processor",
		"alias": "cpu",
		"tag_properties": [
			"Name"
		],
		"check_interval": 60,
		"stale_timeout": 180,
		"metrics": [
			"C1TransitionsPersec",
			"C2TransitionsPersec",
			"C3TransitionsPersec",
			"DPCRate",
			"DPCsQueuedPersec",
			"InterruptsPersec",
			"PercentC1Time",
			"PercentC2Time",
			"PercentC3Time",
			"PercentDPCTime",
			"PercentIdleTime",
			"PercentInterruptTime",
			"PercentPrivilegedTime",
			"PercentProcessorTime",
			"PercentUserTime"
		],
		"register": true
	},
	{
		"object_type": "check",
		"name": "cim_pagefile",
		"command": "wmi",
		"class_name": "Win32_PageFileUsage",
		"alias": "pagefile",
		"tag_properties": [
			"Name"
		],
		"check_interval": 600,
		"stale_timeout": 1800,
		"metrics": [
			"AllocatedBaseSize",
			"CurrentUsage",
			"PeakUsage"
		],
		"register": true
	},
	{
		"object_type": "check",
		"name": "cim_perfdisk",
		"command": "wmi",
		"class_name": "Win32_PerfRawData_PerfDisk_PhysicalDisk",
		"alias": "perfdisk",
		"tag_properties": [
			"Name"
		],
		"check_interval": 60,
		"stale_timeout": 180,
		"metrics": [
			"AvgDiskBytesPerRead",
			"AvgDiskBytesPerRead_Base",
			"AvgDiskBytesPerTransfer",
			"AvgDiskBytesPerTransfer_Base",
			"AvgDiskBytesPerWrite",
			"AvgDiskBytesPerWrite_Base",
			"AvgDiskQueueLength",
			"AvgDiskReadQueueLength",
			"AvgDisksecPerRead",
			"AvgDisksecPerRead_Base",
			"AvgDisksecPerTransfer",
			"AvgDisksecPerTransfer_Base",
			"AvgDisksecPerWrite",
			"AvgDisksecPerWrite_Base",
			"AvgDiskWriteQueueLength",
			"CurrentDiskQueueLength",
			"DiskBytesPersec",
			"DiskReadBytesPersec",
			"DiskReadsPersec",
			"DiskTransfersPersec",
			"DiskWriteBytesPersec",
			"DiskWritesPersec",
			"PercentDiskReadTime",
			"PercentDiskReadTime_Base",
			"PercentDiskTime",
			"PercentDiskTime_Base",
			"PercentDiskWriteTime",
			"PercentDiskWriteTime_Base",
			"PercentIdleTime",
			"PercentIdleTime_Base",
			"SplitIOPerSec",
			"Timestamp_Object"
		],
		"register": true
	},
	{
		"object_type": "check",
		"name": "cim_perfnic",
		"command": "wmi",
		"class_name": "Win32_PerfRawData_Tcpip_NetworkInterface",
		"alias": "perfnic",
		"tag_properties": [
			"Name"
		],
		"check_interval": 60,
		"stale_timeout": 180,
		"metrics": [
			"BytesReceivedPersec",
			"BytesSentPersec",
			"BytesTotalPersec",
			"CurrentBandwidth",
			"OffloadedConnections",
			"OutputQueueLength",
			"PacketsOutboundDiscarded",
			"PacketsOutboundErrors",
			"PacketsPersec",
			"PacketsReceivedDiscarded",
			"PacketsReceivedErrors",
			"PacketsReceivedNonUnicastPersec",
			"PacketsReceivedPersec",
			"PacketsReceivedUnicastPersec",
			"PacketsReceivedUnknown",
			"PacketsSentNonUnicastPersec",
			"PacketsSentPersec",
			"PacketsSentUnicastPersec",
			"TCPActiveRSCConnections",
			"TCPRSCAveragePacketSize",
			"TCPRSCCoalescedPacketsPersec",
			"TCPRSCExceptionsPersec",
			"Timestamp_Object"
		],
		"register": true
	},
	{
		"object_type": "check",
		"name": "cim_perfprocess",
		"command": "wmi",
		"class_name": "Win32_PerfRawData_PerfProc_Process",
		"alias": "perfproc",
		"tag_properties": [
			"Name",
			"IDProcess"
		],
		"check_interval": 30,
		"stale_timeout": 90,
		"metrics": [
			"IODataBytesPersec",
			"IODataOperationsPersec",
			"IOOtherBytesPersec",
			"IOOtherOperationsPersec",
			"IOReadBytesPersec",
			"IOReadOperationsPersec",
			"IOWriteBytesPersec",
			"IOWriteOperationsPersec",
			"PageFaultsPersec",
			"PageFileBytes",
			"PageFileBytesPeak",
			"PercentPrivilegedTime",
			"PercentProcessorTime",
			"PercentUserTime",
			"PoolNonpagedBytes",
			"PoolPagedBytes",
			"PriorityBase",
			"PrivateBytes",
			"ThreadCount",
			"VirtualBytes",
			"VirtualBytesPeak",
			"WorkingSet",
			"WorkingSetPeak",
			"WorkingSetPrivate",
			"Timestamp_PerfTime"
		],
		"register": true
	},
	{
		"object_type": "check",
		"name": "cim_perftssession",
		"command": "wmi",
		"class_name": "Win32_PerfRawData_TermService_TerminalServicesSession",
		"alias": "perftssession",
		"tag_properties": [
			"Name"
		],
		"check_interval": 300,
		"stale_timeout": 900,
		"metrics": [
			"HandleCount",
			"PageFaultsPersec",
			"PageFileBytes",
			"PageFileBytesPeak",
			"PercentPrivilegedTime",
			"PercentProcessorTime",
			"PercentUserTime",
			"PoolNonpagedBytes",
			"PoolPagedBytes",
			"PrivateBytes",
			"ThreadCount",
			"VirtualBytes",
			"VirtualBytesPeak",
			"WorkingSet",
			"WorkingSetPeak",
			"Timestamp_PerfTime"
		],
		"register": true
	},
	{
		"object_type": "check",
		"register": true,
		"name": "snmp_ns",
		"command": "snmp_vars",
		"mib_module_name": "NS-ROOT-MIB",
		"mib_variable_name_list": [
			"sysHighAvailabilityMode",
			"resCpuUsage",
			"resMemUsage"
		],
		"tag_properties": [
			"sysHighAvailabilityMode"
		],
		"alias": "nsstats",
		"check_interval": 60,
		"stale_timeout": 180,
		"metrics": [
			"resCpuUsage",
			"resMemUsage"
		]
	},
	{
		"object_type": "check",
		"register": true,
		"name": "snmp_ifstats",
		"command": "snmp_vars",
		"mib_module_name": "IF-MIB",
		"mib_variable_name_list": [
			"ifDescr",
			"ifInOctets",
			"ifInUcastPkts",
			"ifInDiscards",
			"ifInErrors",
			"ifInUnknownProtos",
			"ifOutOctets",
			"ifOutUcastPkts",
			"ifOutDiscards",
			"ifOutErrors"
		],
		"tag_properties": [
			"ifDescr"
		],
		"alias": "ifstats",
		"check_interval": 60,
		"stale_timeout": 180,
		"metrics": [
			"ifInOctets",
			"ifInUcastPkts",
			"ifInDiscards",
			"ifInErrors",
			"ifInUnknownProtos",
			"ifOutOctets",
			"ifOutUcastPkts",
			"ifOutDiscards",
			"ifOutErrors"
		]
	},
	{
		"object_type": "check",
		"name": "snmp_certkey",
		"tag_properties": [
			"sslCertKeyName",
			"sslInputFormat"
		],
		"command": "snmp_table",
		"mib_module_name": "NS-ROOT-MIB",
		"table": "sslCertKeyTable",
		"alias": "certkey",
		"check_interval": 600,
		"stale_timeout": 1800,
		"metrics": [
			"sslDaysToExpire"
		]
	},
	{
		"object_type": "check",
		"name": "snmp_appfw",
		"tag_properties": [
			"appfwprofileName",
			"appfwProfileFullName"
		],
		"command": "snmp_table",
		"mib_module_name": "NS-ROOT-MIB",
		"table": "appfwProfileTable",
		"alias": "appfwstats",
		"check_interval": 60,
		"stale_timeout": 180,
		"metrics": [
			"appfwappFirewallRequestsPerProfile",
			"appfwappFirewallResponsesPerProfile",
			"appfwappFirewallAbortsPerProfile",
			"appfwappFirewallRedirectsPerProfile",
			"appfwappFirewallViolStartURLPerProfile",
			"appfwappFirewallViolDenyURLPerProfile",
			"appfwappFirewallViolRefererHeaderPerProfile",
			"appfwappFirewallViolBufferOverflowPerProfile",
			"appfwappFirewallViolCSRFtagPerProfile",
			"appfwappFirewallViolCookiePerProfile",
			"appfwappFirewallViolXSSPerProfile",
			"appfwappFirewallViolSQLPerProfile",
			"appfwappFirewallViolFieldformatPerProfile",
			"appfwappFirewallViolFieldConsistencyPerProfile",
			"appfwappFirewallViolCreditCardPerProfile",
			"appfwappFirewallViolSafeObjectPerProfile",
			"appfwappFirewallViolWellformednessViolationsPerProfile",
			"appfwappFirewallViolXdosViolationsPerProfile",
			"appfwappFirewallViolMsgValViolationsPerProfile",
			"appfwappFirewallViolWSIViolationsPerProfile",
			"appfwappFirewallViolXmlSqlViolationsPerProfile",
			"appfwappFirewallViolXmlXssViolationsPerProfile",
			"appfwappFirewallViolXmlAttachmentViolationsPerProfile",
			"appfwappFirewallTotalViolPerProfile",
			"appfwappFirewallRet4xxPerProfile",
			"appfwappFirewallRet5xxPerProfile",
			"appfwappFirewallViolXmlSoapFaultViolationsPerProfile",
			"appfwappFirewallReqBytesPerProfile",
			"appfwappFirewallResBytesPerProfile",
			"appfwappFirewallLongAvgRespTimePerProfile",
			"appfwappFirewallShortAvgRespTimePerProfile",
			"appfwappFirewallViolXmlGenericViolationsPerProfile",
			"appfwappFirewallViolSignaturePerProfile",
			"appfwappFirewallViolJsonDosPerProfile",
			"appfwappFirewallViolJsonSqlPerProfile",
			"appfwappFirewallViolJsonXssPerProfile",
			"appfwappFirewallViolFileUploadTypesPerProfile",
			"appfwappFirewallXMLPayloadContentTypeMismatchPerProfile",
			"appfwappFirewallViolCookieHijackPerProfile",
			"appfwappFirewallViolCMDPerProfile",
			"appfwappFirewallPostBodyLimitViolationsPerProfile",
			"appfwappFirewallViolJsonCmdPerProfile",
			"appfwappFirewallViolJsonSqlGramPerProfile",
			"appfwappFirewallViolSQLGramPerProfile"
		]
	},
	{
		"object_type": "check",
		"name": "snmp_vserver",
		"tag_properties": [
			"vsvrName",
			"vsvrIpAddress",
			"vsvrType",
			"vsvrState",
			"vsvrTdId",
			"vsvrEntityType"
		],
		"command": "snmp_table",
		"mib_module_name": "NS-ROOT-MIB",
		"table": "vserverTable",
		"alias": "vserverstats",
		"check_interval": 60,
		"stale_timeout": 180,
		"metrics": [
			"vsvrCurClntConnections",
			"vsvrCurSrvrConnections",
			"vsvrSurgeCount",
			"vsvrTotalRequests",
			"vsvrTotalRequestBytes",
			"vsvrTotalResponses",
			"vsvrTotalResponseBytes",
			"vsvrTotalPktsRecvd",
			"vsvrTotalPktsSent",
			"vsvrTotalSynsRecvd",
			"vsvrCurServicesDown",
			"vsvrCurServicesUnKnown",
			"vsvrCurServicesOutOfSvc",
			"vsvrCurServicesTransToOutOfSvc",
			"vsvrCurServicesUp",
			"vsvrTotMiss",
			"vsvrTotHits",
			"vsvrTotSpillOvers",
			"vsvrTotalClients",
			"vsvrCurSslVpnUsers",
			"vsvrTotalServicesBound",
			"vsvrHealth",
			"vsvrTicksSinceLastStateChange",
			"vsvrTotalServers",
			"vsvrInvalidRequestResponse",
			"vsvrInvalidRequestResponseDropped",
			"vsvrSoThreshold",
			"vsvrEstablishedConn",
			"vsvrCurTotalVpnUsers",
			"vsvrCurMptcpSessions",
			"vsvrCursubflowConn",
			"vsvrCurPersistenceSessions",
			"vsvrCurBackupPersistenceSessions",
			"vsvrtotalConnReassemblyQueueFlush",
			"vsvrtotalConnReassemblyQueue75",
			"vsvrtotalSvrBusyErr",
			"vsvrTotalH2Responses",
			"vsvrTotalH2Requests",
			"vsvrCpuUsagePm"
		]
	},
	{
		"object_type": "check",
		"name": "snmp_ipstats",
		"command": "snmp_table",
		"mib_module_name": "NS-ROOT-MIB",
		"table": "nsIpStatsGroup",
		"alias": "ipstats",
		"check_interval": 60,
		"stale_timeout": 180,
		"metrics": [
			"ipTotRxPkts",
			"ipTotRxBytes",
			"ipTotRxMbits",
			"ipTotTxPkts",
			"ipTotTxBytes",
			"ipTotTxMbits",
			"ipTotFragments",
			"ipTotBadlens",
			"ipTotBadMacAddrs",
			"ipTotMaxClients",
			"ipTotUnknownSvcs",
			"ipTotLandattacks",
			"ipTotBadChecksums",
			"ipTotReassemblyAttempt",
			"ipTotSuccReassembly",
			"ipTotUnsuccReassembly",
			"ipTotTooBig",
			"ipTotZeroFragmentLen",
			"ipTotDupFragments",
			"ipTotOutOfOrderFrag",
			"ipTotUnknownDstRcvd",
			"ipTotBadTransport",
			"ipTotVIPDown",
			"ipTotFixHeaderFail",
			"ipTotAddrLookup",
			"ipTotAddrLookupFail",
			"ipTotUDPfragmentsFwd",
			"ipTotTCPfragmentsFwd",
			"ipTotFragPktsGen",
			"ipTotInvalidHeaderSz",
			"ipTotInvalidPacketSize",
			"ipTotTruncatedPackets",
			"ipTotZeroNextHop",
			"ipTotTtlExpired",
			"nonIpTotTruncatedPackets"
		]
	},
	{
		"object_type": "command",
		"name": "wmi",
		"type": "sammwr.wmi.WMIQuery",
		"args": {
			"class_name": "$(check.class_name)",
			"endpoint": "http://$(instance.address):5985/wsman",
			"username": "$(resources.wmi_username)",
			"password": "$(resources.wmi_password)"
		}
	},
	{
		"object_type": "command",
		"name": "snmp_table",
		"type": "sammsnmp.SnmpQuery",
		"args": {
			"hostaddress": "$(instance.address)",
			"community": "$(resources.community)",
			"mib_module_name": "$(check.mib_module_name)",
			"table": "$(check.table)"
		}
	},
	{
		"object_type": "command",
		"name": "snmp_vars",
		"type": "sammsnmp.SnmpQuery",
		"args": {
			"hostaddress": "$(instance.address)",
			"community": "$(instance.community)",
			"mib_module_name": "$(check.mib_module_name)",
			"mib_variable_name_list": "$(check.mib_variable_name_list)"
		}
	},
	{
		"object_type": "command",
		"name": "wrcertificates",
		"type": "sammwr.certificates.WRCertificates",
		"args": {
			"endpoint": "http://$(instance.address):5985/wsman",
			"username": "$(resources.wmi_username)",
			"password": "$(resources.wmi_password)"
		}
	},
	{
		"object_type": "check",
		"name": "cim_certificates",
		"command": "wrcertificates",
		"alias": "certkey",
		"tag_properties": [
			"sslcertkeyname"
		],
		"check_interval": 600,
		"stale_timeout": 1800,
		"metrics": [
			"ssldaystoexpire"
		]
	}
]