Package: samm-pysamm
Version: %VERSION%
Maintainer: Samana <info@samanagroup.com>
Depends: python3, python3-pip, libsasl2-dev, python-dev-is-python3, libldap2-dev, libssl-dev
Conflicts: python3-icmplib
Architecture: all
Homepage: https://www.samanagroup.com
Description: SAMM Prometheus integration libraries. Samana Advanced Monitoring and Management
