Package: samm-pysamm
Version: %VERSION%
Maintainer: Samana <info@samanagroup.com>
Depends: python3
Conflicts: 
Architecture: amd64
Homepage: https://www.samanagroup.com
Description: SAMM Prometheus integration libraries. Samana Advanced Monitoring and Management
